<!-- post_upload_template.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrega de fotografies</title>
</head>
<body>

<h1>Carrega una nova fotografia</h1>
<!--Inicia un formulari HTML que utilitzarà el mètode POST quan s'enviï. 
    L'atribut enctype="multipart/form-data" indica que el formulari enviarà 
    dades binàries(com ara imatges).
-->
<form method="post" enctype="multipart/form-data">

    <!--Inserim un token anti-CSRF al formulari per prevenir atacs CSRF.-->
    {% csrf_token %}

    <!--La vista que utilitza la plantilla passara un context amb un objecte 
        'form' que es una instància del formulari UploadPostForm-->
    {{ form.as_p }}

    <button type="submit">Pujar foto</button>
</form>

</body>
</html>
