.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #ffffff;    
}

.search-bar form {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    overflow: hidden;
    
    
}

.profile-image {
    width: 40px;  /* Adjust as needed */
    height: 40px;
    border-radius: 50%;  /* Makes the image round */
    margin-right: 10px;  /* Space between image and username */
    vertical-align: middle; /* Aligns the image with the middle of the adjacent text */
}

.search-bar input {
    flex: 1;
    border-radius: 30px; /* This rounds the corners of the input */
    
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.search-result {
    display: flex;
    align-items: center;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar button:disabled {
    background-color: #a6a6a6;
    cursor: not-allowed;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
.no-results-message{
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.show-more {
    margin-top: 10px;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.show-more:hover {
    text-decoration: none;
}

.search-result-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.search-result-button:hover {
    background-color: #f5f5f5; /* or any other hover effect you prefer */
}