.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;    
}

.search-results-container {
    position: absolute;
    top: 100%; /* Position right below the input field */
    left: 0;
    right: 0;
    background-color: transparent;
    border-color: transparent;
    border: none;
    border-top: none;
    border-radius: 0 0 5px 5px; /* Continue the border-radius of the search bar */
    z-index: 10; /* Make sure it stacks above other content */
    max-height: 400px; /* Or any height you prefer */
    overflow-y: auto; /* Enable scrolling for overflow */
    width: calc(100% - 10px); /* Adjust width to fit the parent's width, accounting for border */
    margin-top: -1px; /* Optional: to connect seamlessly with the input field's border */
  }

.search-bar form {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    overflow: hidden;
    
    
}

.profile-image {
    width: 40px;  /* Adjust as needed */
    height: 40px;
    border-radius: 50%;  /* Makes the image round */
    margin-right: 10px;  /* Space between image and username */
    vertical-align: middle; /* Aligns the image with the middle of the adjacent text */
}

.search-bar input {
    flex: 1;
    border-radius: 30px; /* This rounds the corners of the input */
    
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: lightpink;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.search-result {
    display: flex;
    align-items: center;
}

.search-bar button:hover {
    background-color: #f56565;
}

.search-bar button:disabled {
    background-color: #a6a6a6;
    cursor: not-allowed;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
.no-results-message{
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.no-results{
    
    margin-left: 30px;
    color: red;
    font-weight: bold;
}



.show-more:hover {
    text-decoration: none;
}

.search-result-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.search-result-button:hover {
    background-color: #f5f5f5; /* or any other hover effect you prefer */
}